<link rel="stylesheet" type="text/css" href="/css/footer.css">
<footer class="section footer-classic context-dark bg-image" style="background: #1a1a1a;padding-top:30px;">
  <div class="container">
    <div class="row row-30">
      <div class="col-md-4 col-xl-5">
        <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
          <p>The books that the world calls immoral are books that show the world its own shame</p>
          <!-- Rights-->
          <p class="rights"><span>©  </span><span class="copyright-year">2020</span><span> </span><span>Books</span><span>. </span><span>All Rights Reserved.</span></p>
        </div>
      </div>
      <div class="col-md-4">
        <h5 style="color:#F2608F;">Contacts</h5>
        <dl class="contact-list">
          <dt>Address:</dt>
          <dd>Guru Gobind Singh Indraprastha University,Dwarka Sector 16 C,Delhi-110078</dd>
        </dl>
        <dl class="contact-list">
          <dt>email:</dt>
          <dd><a href="mailto:#">pramodshah1444@gmail.com</a></dd>
        </dl>
        <dl class="contact-list">
          <dt>phones: 8802556791</dt>
          <dd><a href="tel:#">https://bookstore-s.herokuapp.com</a> <span>or</span> <a href="tel:#">https:/bookstore-s.herokuapp.com</a>
          </dd>
        </dl>
      </div>
      <div class="col-md-4 col-xl-3">
        <h5 style="color:#F2608F;">Links</h5>
        <ul class="nav-list">
          <li><a href="#">About</a></li>
          <li><a href="#">Contacts</a></li>
          <li><a href="#">Pricing</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row no-gutters social-container">
    <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
    <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
    <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
    <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></span><span>google</span></a></div>
  </div>
</footer>