</br>
</br>
</br>

<div class="jumbotron">
    <h1 class="display-3">Book Store</h1>
    <p class="lead">A good bookshop is just a genteel Black Hole that knows how to read.I love walking into a bookstore</p>
    <hr class="my-4">
    <p>It is clear that the books owned the shop rather than the other way about.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Know more about us</a>
    </p>
  </div>