</br>
</br>
<div class="contianer">
    <%= typeof msg != 'undefined'?msg: '' %>
    <form action="/dashboard" enctype="multipart/form-data" method="POST">
        <div class="form-group">
            <label for="exampleInputFile">Upload Photo</label>
            <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" name="myImage">
            <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</br>
<img src = "<%= typeof file !='undefined' ?file : '' %>"  class="responsive-img">;
</div>
