<!-- <div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="fab fa-node-js fa-3x"></i></h1>
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div> -->

<div class="container">
</br>
</br>
<div class="row">
<div class="col-sm-4"></div>
<div class="col-sm-4"></div>
<div class="col-sm-4">
  <div class="card mb-3">
    <h3 class="card-header">The idea hunter</h3>
    <div class="card-body">
      <h5 class="card-title">Reading is the best way to get idea</h5>
      <h6 class="card-subtitle text-muted">Keep Reading</h6>
    </div>
    <img style="height: 200px; width: 100%; display: block;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTtVwtM4PWei-jP2w6zTq78E5ulKuMxYVMk6-hbRBtQ_xkiKhXO&usqp=CAU" alt="Card image">
    <div class="card-body">
      <p class="card-text">New way to explore books</p>
    </div>
    
    
    
  
</div>
</div>

</div>



